*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar{
    display: flex;
 align-items: center;
 padding: 20px;
}
nav{
    flex: 1;
   text-align: right ;
}
nav ul li {
  font-size: 20px;  /* increase text size */
  font-weight: bold; /* make it bold if you like */
}


nav ul{
display: inline-block;
list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: black;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;

}
.col-2 img{
    max-width: 100%;
    padding: 25px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background:#000f2b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition:background 0.5s;
}
.btn:hover{
    background: #403c49;
}
.header{
    background: radial-gradient(#fff,#1a2942);
}
.header .row{
    margin-top: 70px;
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
transform: transform 0.5s;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0% auto 80px;
    position: relative;
    line-height: 60px;
    color:rgb(9, 2, 26);

}
.title ::after{
    content:'';
    background-color: #000f2b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

}
h4{
    color: rgb(9, 2, 26);
    font-weight: normal;
}
.col-3 p{
    font-size: 14px;
}
.col-3 :hover{
    transform: translateY(-5px);
}
/*footer*/
/* Footer Styles */
.footer {
  background-color: #050c1a; /* Navy blue */
  color: white;
  text-align: center;
  padding: 40px 20px;
  font-family: "Poppins", sans-serif;
}

.footer-title {
  font-size: 26px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.footer-text {
  max-width: 700px;
  margin: 0 auto 30px;
  font-size: 15px;
  line-height: 1.6;
  color: #dcdcdc;
}

.social-links {
  margin-bottom: 30px;
}

.follow-text {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 16px;
}

.social-icon {
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #00bfff; /* Light blue hover */
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 15px;
  font-size: 14px;
  color: #aaa;
}
.menu-icon{
    width: 28px;
    margin: left 20px;
    display: none;
}
/*----------media query-----------*/
@media only screen and (max-width:800px) {
    nav ul{
        position: absolute;
        top: 70px ;
        left: 0%;
        background-color:#333 ;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
display: block;
margin-right: 50px;
margin: top 10px; ;
margin-bottom: 10px;
    }
    nav ul li a {
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}
/*media query for mobile screen*/
@media only screen and (max-width:600px){
    .row{
        text-align: center;
    }
    .col-2,.col-3,.col-4{
        flex-basis: 100%;
    }
}
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;

}
@media only screen and (max-width:600px){
    .main{
        text-align: center;
    }
}
.navbar a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.navbar a:hover,
.navbar a.active {
  color: #00bcd4; /* highlight color */
}
html {
  scroll-behavior: smooth;
}
#featured-products {
  scroll-margin-top: 80px; /* adjust this if your navbar is taller */
}
.explore-btn {
  display: inline-block;
  background-color:#000f2b;
  color: white;
  padding: 8px 30px;
  margin: 30px 0;
   border-radius:  30px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

.explore-btn:hover {
  background-color: #333;
}
#featured-products {
  text-align: center;
  margin-top: 100px;
}